
.works-flow-container {
width: 100%;
align-items: center;
justify-content: center;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  opacity: 1;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}


.content-section {
 
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}


.works-badge {

  /* padding-bottom: 18px; */
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
    border-radius: 30px;
}

.works-badge span {
  width: 135px;
  /* height: 43px; */

  padding: 11px 18px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 20.3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-heading {
  width: 519px;
  /* height: 120.97px; */
  padding-bottom: 0.97px;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 54px;
  line-height: 59.94px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}


.description {
  /* width: 600px; */
  /* height: 57px; */
  max-width: 600px;
  padding: 10px 39px 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 23.2px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}


.works-container {
  /* width: 1240px; */
  /* height: 209.31px; */
  padding-right: 0.01px;
  display: flex;
  gap: 22px;
  border-radius: 25px;
  opacity: 1;
  flex-wrap: nowrap;
}


.work-card {
  /* min-width: 398.66px;
  min-height: 209px; */
  background: #141414;
  border: 1px solid #313131;
  border-radius: 25px;
  opacity: 1;
  position: relative;
  padding: 25px 29px 29px 29px;
  box-sizing: border-box;
}
.work-number {
  /* width: 47px;
  height: 47px; */
  max-width: 10px;
  background: #171802;
  border: 1px solid #363804;
  border-radius: 50%;
  padding: 11.81px 20.61px 11.99px 20.61px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


.work-number span {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 23.2px;
  color: #FFBE0D;
}



.work-title {
  /* width: 340.66px; */
  /* height: 27.94px; */
  /* max-height: 27.94px; */
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 27.94px;
  color: #FFFFFF;
  margin: 0 0 8px 0;
}

.work-description {
  /* width: 340.66px; */
  /* height: 47px; */
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 23.2px;
  color: #A6A6A6;
  margin: 0;
}

@media (max-width: 830px) {
.works-flow-container{
  padding: 0 50px;
}
}
@media (max-width: 760px) {
  .work-number{
    padding: 6px 10px;
  }
  .work-title{
    font-size: 18px;
  }
  .work-description{
    font-size: 14px;
  }
}
@media (max-width: 600px) {
   .work-number{
    padding: 10px 20px;
  }
  .work-title{
    font-size: 24px;
  }
  .work-description{
    font-size: 16px;
  }

  .works-flow-container{
    padding: 0 10px;
  }
  .description{
    font-weight: 250px;
    font-size: 12px;
  }.main-heading{
    font-size: 45px;
  }
  .works-container{
    flex-direction: column;
  }
    .main-heading{
    height: auto;
    width: auto;
  }
  .description{
    width: auto;
    height: auto;
  }
}
