

.contact-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.contact-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 182px;
  width: 100%;
  max-width: 1240px;
  align-items: center;
  /* padding: 80px 100px; */
}

.contact-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-heading {
  
  font-weight: 200;
  font-size: 70px;
  line-height: 77.7px;
  margin-bottom: 32px;
}



.contact-button {
  line-height: 23.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgba(255, 190, 13, 1);
  border-radius: 30px;
  padding: 10px 21px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  border: none;
  cursor: pointer;
}

.arrow-icon {
  width: 16px;
  height: 17px;
}



.contact-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  padding: 0 294px;
}

.footer-text {
  color: #A6A6A6;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icons img {
  width: 46px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}






@media (max-width: 768px) {
  .contact-content-wrapper {
    gap: 100px;
  }

  .contact-heading {
    font-size: 42px;
    line-height: 52px;
  }

  .contact-footer {
    flex-direction: column;
    gap: 20px;
    padding: 0 24px;
  }
}
